<div fxLayoutAlign="center center">
  <h1>Move Node</h1>
</div>
<div mat-dialog-content fxLayoutGap="10px" fxLayout="column">
  <mat-form-field>
    <mat-label>Select where to move node</mat-label>
    <mat-select [(value)]="selectedNode">
      <mat-option *ngFor="let node of allowedNodes" [value]="node">
        ID: {{node.id}}, value: {{node.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayoutGap="10px" fxLayoutAlign="center center">
  <button mat-button mat-raised-button color="primary" (click)="moveNode()" [disabled]="!data.editedNode || !selectedNode">Save</button>
  <button mat-button mat-raised-button color="warn" (click)="close()">Close</button>
</div>
