<div fxLayoutAlign="center center">
  <h1>Edit Node</h1>
</div>
<div mat-dialog-content fxLayoutGap="10px" fxLayout="column">
  <mat-form-field>
    <input matInput type="number" placeholder="Value" [formControl]="valueControl">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayoutGap="10px" fxLayoutAlign="center center">
  <button mat-button mat-raised-button color="primary" (click)="save()" [disabled]="!data || !valueControl.valid">Save</button>
  <button mat-button mat-raised-button color="warn" (click)="close()">Close</button>
</div>
