<mat-toolbar class="ui-header">
  Tree Builder
</mat-toolbar>
<div class="ui-container" fxLayoutGap="10px" fxLayout="column">
  <app-single-tree-level
    [mainNode]="mainNode"
    [nodes]="nodes"
    (reloadTreeEvent)="ngOnInit()"></app-single-tree-level>
</div>
<mat-toolbar class="ui-buttonbar">
  <button mat-button mat-raised-button color="primary" (click)="saveAll()">Save</button>
</mat-toolbar>
