/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html .ui-buttonbar
{
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  border-top-width: 1px;
  border-top-style: solid;
}

html .ui-header
{
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.ui-container
{
  height: calc(100vh - 122px);
  overflow: auto;
}
