<mat-expansion-panel *ngIf="!!mainNode" [expanded]="true" fxLayoutGap="10px">
  <mat-expansion-panel-header>
    <div fxLayoutGap="10px" fxLayout="row">
      <div fxLayoutAlign="center start" fxLayout="column">
        <div>ID: {{mainNode.id}}</div>
        <div>Value: {{mainNode.value}}</div>
      </div>
      <div *ngIf="mainNode.sum != null" fxLayoutAlign="center start" fxLayout="column">
        <div>Sum: {{mainNode.sum}}</div>
      </div>
      <button mat-button mat-raised-button type="button" color="primary" (click)="changeValue(mainNode, $event)">Change Value</button>
      <button mat-button mat-raised-button type="button" color="primary" (click)="addLeaf(mainNode, $event)">Add Leaf</button>
      <button *ngIf="mainNode.parentNode" mat-button mat-raised-button type="button" color="primary" (click)="copyLeaf(mainNode, $event)">Copy</button>
      <button *ngIf="mainNode.parentNode" mat-button mat-raised-button type="button" color="primary" (click)="move(mainNode, $event)">Move</button>
      <button *ngIf="mainNode.parentNode" mat-button mat-raised-button type="button" color="warn" (click)="removeLeaf(mainNode, $event)">Remove</button>
    </div>
  </mat-expansion-panel-header>
  <div>
    <div *ngFor="let child of mainNode.children">
      <app-single-tree-level
        [nodes]="nodes"
        [mainNode]="child"
        (reloadTreeEvent)="reloadTreeEvent.emit()"
      ></app-single-tree-level>
    </div>
  </div>
</mat-expansion-panel>

